

<form action="/admin" method="POST">

    
</form>

<div class="create-post">
    <div class="create-post-input">
        <img src="/Image/user-2.png">
        <textarea rows="2" placeholder="Write a post"></textarea>
    </div>
    <div class="create-post-link">
        <li><img src="/Image/plan.png">Add Activities</li>
        <li><img src="/Image/directions.png" alt="">Add post</li>
    </div>
</div>
<div class="sort-by">
    <hr>
    <p>Sort by: <span>top <img src="/Image/down-arrow.png"></span></p>
</div>
