       
       
       <!-- left-sidebar -->
        <div class="left-sidebar">
            <div class="sidebar-profile-box">
                <img class="img-profile" src="Image/IMG_2.jpg" width="100%">
                <div class="sidebar-profile-info">
                    <img src="Image/woman.png">
                    <h1>Fatima Altamimi</h1>
                    <h3>A traveler who loves to travel</h3>
                    <ul>
                        <li>The number of your posts<span>0</span></li>
                        <li>Your post views<span>0</span></li>
                    </ul>
                </div>
                <div class="sidebar-profile-link">
                    <a href="#"><img src="Image/destination.png">my travels</a>
                </div>
            </div>
            <div class="sidebar-activity">
                <h3>Latest updates</h3>
                <a href="#"><img src="Image/history.png">Türkiye trip</a>

                <h3>Hashtag</h3>
                <a href="#"><img src="Image/hashtag.png">Türkiye trip</a>

                <div class="discover-more-link">
                    <a href="#">Find out more</a>
                </div>
            </div>

        </div>
        