
    <!-- start navbar -->
    <nav class="navbar">
        <!-- navbar-left -->
        <div class="navbar-left">
            <!-- في الجهه اليسار راح يكون فيه لوقو والبحث -->
            <a href="" class="logo"><img src="/Image/logo.png"></a>
            
                <%- include('../partials/search.ejs') %>
            
        </div>
        <!-- navbar-center -->
        <div class="navbar-center">
            <ul>
                <!-- ايقونات القائمة-->
                <li><a href="/explore"><img src="/Image/explore.png"><span>Explore</span></a></li>
                <li><a href="/login"><img src="/Image/login-2.png"><span>Sign Up</span></a></li>
            </ul>
        </div>
        <!-- navbar-right -->
        
        <!-- -------profile-drop-down-menu----------- -->
        
        
    </nav>
    <!-- navbar end -->
    
    