     
        <!-- right-sidebar -->
        <div class="right-sidebar">
            <div class="sidebar-news">
                <img src="/Image/newspaper.png" class="info-icon">
                <h3>News</h3>
                <a href="https://www.alarabiya.net/aswaq/travel-and-tourism/2023/04/29/سنغافورة-تعفي-السعوديين-من-تأشيرة-الدخول-المسبقة">Exempting all Saudi citizens from obtaining a visa to enter Singapore</a>
                <span>Posted on: Apr 29, 2023: 04:28 PM GST</span>


                <a href="#" class="read-more-link">Read More</a>
            </div>
            <div class="sidebar-ad">
                <small>Ads &middot; &middot;</small>
                <p>It includes advertisements for tourism companies, hotel offers and car rental prices</p>
                <div>
                    <img src="/Image/mobile.png">
                    <img src="/Image/online-booking.png">
                    <img src="/Image/web-browser.png">
                </div>
                <a href="#" class="ad-link">See more</a>
            </div>

            <div class="sidebar-useful-links">
                <a href="#">About</a>
                <a href="#">Accessiblity</a>
                <a href="#">Help Center</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Advertising</a>
                <a href="#">More</a>

                <div class="copyright-msg">
                    <img src="/Image/logo.png">
                    <p>Safar &copy;  <%= new Date().getFullYear(); %>. All rights are save</p>
                </div>
            </div>
        </div>
        