<!doctype html>
<html lang="en">
<head>
  <title><%= locals.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>


	<div class="section">
		
        <%- body %>

	</div>


</body>
</html>
