
<!-- My account -->
    

       
            
            <div class="create-post">
                <div class="create-post-input">
                    <img src="Image/woman.png">
                    <textarea rows="2" placeholder="Write a post"></textarea>
                </div>
                <div class="create-post-link">
                    <li><img src="Image/plan.png">Add Activities</li>
                    <li><img src="Image/directions.png" alt="">Add post</li>
                </div>
            </div>
            <div class="sort-by">
                <hr>
                <p>Sort by: <span>top <img src="Image/down-arrow.png"></span></p>
            </div>
            <div class="post">
                <div class="post-auther">
                    <img src="Image/woman.png" alt="image user" id="image-user-post">
                    <div>
                        <!-- The name of the person who wrote the post -->
                        <h1>Fatima Altamimi</h1> 
                        <!-- About him -->
                        <small>A traveler who loves to travel</small>
                        <!-- How long has it been published -->
                        <small>2 hours ago</small>
                    </div>
                    
                </div>
                <div class="post-content">
                    <p>
                        My trip was in the month of November, 
                        I liked to travel in the fall because the 
                        weather was nice on the beach and when going 
                        up to the mountain you find snow, it was 
                        a pleasant experience.
                    </p>
                    <img src="Image/IMG_1.jpg" width="100%">
                </div>
                <div class="post-stats">
                    <div>
                        <!-- The number of users interactions on the post -->
                        <span>0     interactions</span>
                    </div>
                </div>
                <div class="post-activity">
                    <div>
                        <a href=""><img src="Image/clap.png" alt=""></a>
                    </div> 
                    <div>
                        <a href=""><img src="Image/hand.png" alt=""></a>
                    </div> 
                    <div>
                        <a href=""><img src="Image/thumbs-up 2.png" alt=""></a>
                    </div> 
                    <div>
                        <a href=""><img src="Image/share.png" alt=""></a>
                    </div>
                </div>
            </div>
            
            
   
